<!DOCTYPE html>
<html>
<head>
    
    <script src = "https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>KnowYourRoad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9bILq0BA8VHrKytVrRUK7Rx8849IgaEQ&callback=initMap" -->
    <!-- type="text/javascript"></script> -->
    <script type="text/javascript">
    $.ajax({
    url: "/get-map",
    type: "POST",
    data: {},
    success: function(response) {
       let i = 0;
	    //response.map stores the map array
       for (var [v1, v2, v3, v4, v5] of response.map){
	 if(v4 == 1){
                 d = "https://i.imgur.com/OUidU7x.png"
	 }
	       else if(v4 == 2){
	       d = "https://i.imgur.com/l7HCZto.png"
	       }
	       else if(v4 == 3){
		       d = "https://i.imgur.com/Xlm0wEr.png"
	       }
                else if(v4 == 4){
                d= "https://i.imgur.com/IDbMLpj.png"
                }

          var icon = {
                url:d,
                scaledSize: new google.maps.Size(30,30), //scaled size
                origin: new google.maps.Point(0,0), //origin
                anchor: new google.maps.Point(0,0), //anchor
            }

            let marker = new google.maps.Marker({
               position: new google. maps.LatLng(v1,v2),
               map: map,
               icon: icon,
               animation: google.maps.Animation.DROP,
            });
            markers.push(marker)
            let infowindow = new google.maps.InfoWindow({
               content:v3
            });

            //infowindow.open(map,marker);
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker, map, shouldFocus: false
                });
            });
	       i = i+1;
	       console.log(i)
       }
    }
});

            </script>    
</head>
<body background="https://i.imgur.com/JjtoV67.gif">
  <style>

    body{
        background-image: url("https://i.imgur.com/JjtoV67.gif");
    }
   .container{width:30%;}
    </style>
        <div class="container">
        <h1 style="font-family: 'Courier New', monospace; font-weight: bold;line-height: 200%;color: yellow"><marquee behavior="alternate"><color: white>Know your road</marquee></h1>
    </div>
    <div id="map" style="width: 80%; height: 500px;margin-left:120px"></div>
     <script type="text/javascript">
        var locations = [

        ];
    	var markers = []
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(39.103119, -84.512016),
	  mapTypeId : "roadmap"
        });
    
        var infowindow = new google.maps.InfoWindow();
    
        var marker, i;
    
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      </script>
</body>
</html>
